* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #fff;
  cursor: default;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 2rem;
}

body {
  background-color: #111111;
  width: 100%;
}
body .nav {
  padding: 2rem 10rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  body .nav {
    padding: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .nav {
    padding: 2rem;
  }
}
body .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
body .nav #menuButton {
  display: none;
}
body .nav .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #111111;
  padding: 2rem;
}
body .nav .mobile-menu .closeButton {
  align-self: flex-end;
}
body .nav .mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0rem;
  width: 100%;
}
body .nav .mobile-menu ul li {
  width: 100%;
  height: fit-content;
  height: 100px;
}
body .nav .mobile-menu ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
body .header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body .header .bg-main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
body .header .content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
}
body .header .content h1 {
  text-align: center;
  font-size: 3rem;
}
body .header .content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
body .introducing {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: 5rem 10rem;
}
@media (max-width: 576px) {
  body .introducing {
    padding: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .introducing {
    padding: 2rem;
  }
}
body .introducing p {
  width: 50%;
}
body .introducing button {
  padding: 0rem 20px;
  height: 40px;
  border-radius: 20px;
  border: solid #fff 1px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
body .introducing button:hover {
  background-color: #fff;
  color: #141414;
}
body .projects {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 250px;
}
body .projects .item-project {
  position: relative;
  overflow: hidden;
  height: 100%;
}
body .projects .item-project img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
body .projects .item-project .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
}
body .projects .item-project .content:hover {
  cursor: pointer;
  background-color: rgba(182, 32, 63, 0.4392156863);
  opacity: 100%;
}
body .story {
  padding: 5rem 10rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 576px) {
  body .story {
    padding: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .story {
    padding: 2rem;
  }
}
body .story .content {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-right: 10rem;
}
body .story .content ul {
  list-style: square;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
body .story .content-img {
  width: 100%;
  grid-column: 4/5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
body .story .content-img img {
  border-radius: 1rem;
}
body .workflow {
  padding: 5rem 10rem;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: #111111;
}
@media (max-width: 576px) {
  body .workflow {
    padding: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .workflow {
    padding: 2rem;
  }
}
body .workflow h2 {
  grid-column: 1/5;
  text-align: center;
}
body .workflow .item-wf {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
  text-align: center;
}
body .workflow .item-wf .header {
  background-color: #1e1e1e;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .workflow .item-wf .content {
  padding: 1rem 2rem;
  background-color: #1e1e1e;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .contact {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 576px) {
  body .contact {
    padding: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .contact {
    padding: 2rem;
  }
}
body .contact .item-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
body .contact .item-contact button {
  padding: 0rem 20px;
  height: 40px;
  border-radius: 20px;
  border: solid #fff 1px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
body .contact .item-contact button:hover {
  background-color: #fff;
  color: #141414;
}
body .footer {
  padding: 5rem 10rem;
  background-color: #111111;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  body .footer {
    padding: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .footer {
    padding: 2rem;
  }
}
body .footer .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
body .footer .col-1 ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
body .footer .col-2 ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

@media screen and (max-width: 576px) {
  body .nav ul {
    display: none;
  }
  body .nav #menuButton {
    display: block;
  }
  body .header {
    margin-bottom: 4rem;
  }
  body .header .bg-main {
    width: auto;
    height: 100%;
  }
  body .header .content h1 {
    font-size: 2rem;
  }
  body .header .content ul {
    gap: 0.5rem;
  }
  body .introducing {
    margin-bottom: 4rem;
    padding: 5rem 10rem;
  }
}
@media screen and (max-width: 576px) and (max-width: 576px) {
  body .introducing {
    padding: 2rem;
  }
}
@media screen and (max-width: 576px) and (min-width: 576px) and (max-width: 993px) {
  body .introducing {
    padding: 2rem;
  }
}
@media screen and (max-width: 576px) {
  body .introducing p {
    width: 100%;
  }
  body .projects {
    margin-bottom: 4rem;
    grid-template-columns: repeat(1, 1fr) !important;
    height: 500px;
  }
  body .projects .item-project img {
    width: 100%;
    height: auto;
  }
  body .projects .item-project .content {
    flex-direction: column-reverse;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
  body .story {
    margin-bottom: 4rem;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
    height: fit-content;
  }
  body .story .content {
    grid-column: 1/2;
    padding-right: 0;
  }
  body .story .content-img {
    grid-column: 1/2;
  }
  body .story .content-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .workflow {
    margin-bottom: 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  body .workflow h2 {
    grid-column: 1/2;
  }
  body .workflow .item-wf .header {
    background-color: transparent;
    margin-bottom: 0;
  }
  body .contact {
    margin-bottom: 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  body .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }
  body .footer .col-2 ul {
    flex-flow: row wrap;
  }
}
@media (min-width: 576px) and (max-width: 993px) {
  body .header .bg-main {
    width: auto;
    height: 100%;
  }
  body .introducing p {
    width: 80%;
  }
  body .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  body .projects .item-project img {
    width: 100%;
    height: auto;
  }
  body .projects .item-project .content {
    flex-direction: column-reverse;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
  body .story {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
    height: fit-content;
  }
  body .story .content {
    grid-column: 1/2;
    padding-right: 0;
  }
  body .story .content-img {
    grid-column: 1/2;
  }
  body .story .content-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .workflow {
    grid-template-columns: repeat(2, 1fr);
  }
  body .workflow h2 {
    grid-column: 1/3;
  }
  body .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }
  body .footer .col-2 ul {
    flex-flow: row wrap;
  }
}

/*# sourceMappingURL=style.css.map */
