$bg-color: #141414;
$white: #fff;
$bgItemProject: #b6203f70;
$grayWorkflow: #1e1e1e;
$bgWorkFlow: #111111;

$breakpoint-xs: 576px;
$breakpoint-sm: 577px;
$breakpoint-md: 769px;
$breakpoint-lg: 993px;
$breakpoint-xl: 1201px;

@mixin paddingNav {
  padding: 2rem 10rem;
  @media (max-width: $breakpoint-xs) {
    padding: 2rem;
  }
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
    padding: 2rem;
  }
}
@mixin paddingContent {
  padding: 5rem 10rem;

  @media (max-width: $breakpoint-xs) {
    padding: 2rem;
  }
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
    padding: 2rem;
  }
}
@mixin primaryButton {
  padding: 0rem 20px;
  height: 40px;
  border-radius: 20px;
  border: solid $white 1px;
  background-color: transparent;
  color: $white;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: $white;
    color: $bg-color;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: $white;
  cursor: default;
}
a {
  color: $white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
h2 {
  font-size: 2rem;
}

body {
  background-color: $bgWorkFlow;
  width: 100%;

  .nav {
    @include paddingNav;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;

      list-style: none;
    }

    #menuButton {
      display: none;
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;

      width: 100%;
      height: 100vh;

      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      background-color: #111111;
      padding: 2rem;

      .closeButton {
        align-self: flex-end;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0rem;
        width: 100%;

        li {
          width: 100%;
          height: fit-content;
          height: 100px;

          a {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;
          }
        }
      }
    }
  }

  .header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .bg-main {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      color: $white;

      h1 {
        text-align: center;
        font-size: 3rem;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
      }
    }
  }

  .introducing {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-align: center;

    @include paddingContent;

    p {
      width: 50%;
    }

    button {
      @include primaryButton;
    }
  }

  .projects {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 250px;

    .item-project {
      position: relative;
      overflow: hidden;
      height: 100%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        gap: 1rem;
        opacity: 0;

        &:hover {
          cursor: pointer;
          background-color: $bgItemProject;
          opacity: 100%;
        }
      }
    }
  }

  .story {
    @include paddingContent;

    width: 100%;
    height: 500px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .content {
      grid-column: 1/4;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;

      padding-right: 10rem;

      ul {
        list-style: square;
        padding-left: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
    }

    .content-img {
      width: 100%;

      grid-column: 4/5;
      overflow: hidden;
      display: flex;
      flex-direction: row;

      img {
        border-radius: 1rem;
      }
    }
  }

  .workflow {
    @include paddingContent;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    background-color: $bgWorkFlow;

    h2 {
      grid-column: 1/5;
      text-align: center;
    }
    .item-wf {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 1rem;
      text-align: center;

      .header {
        background-color: $grayWorkflow;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .content {
        padding: 1rem 2rem;
        background-color: $grayWorkflow;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .contact {
    @include paddingContent;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item-contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;

      button {
        @include primaryButton;
      }
    }
  }

  .footer {
    @include paddingContent;

    background-color: $bgWorkFlow;

    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .col-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        list-style: none;
        gap: 2rem;
      }
    }
    .col-2 {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;

        list-style: none;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  body {
    .nav {
      ul {
        display: none;
      }

      #menuButton {
        display: block;
      }
    }

    .header {
      margin-bottom: 4rem;

      .bg-main {
        width: auto;
        height: 100%;
      }

      .content {
        h1 {
          font-size: 2rem;
        }

        ul {
          gap: 0.5rem;
        }
      }
    }

    .introducing {
      margin-bottom: 4rem;

      @include paddingContent;

      p {
        width: 100%;
      }
    }

    .projects {
      margin-bottom: 4rem;
      grid-template-columns: repeat(1, 1fr) !important;
      height: 500px;

      .item-project {
        img {
          width: 100%;
          height: auto;
        }
        .content {
          flex-direction: column-reverse;
          gap: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }

    .story {
      margin-bottom: 4rem;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4rem;
      height: fit-content;

      .content {
        grid-column: 1/2;
        padding-right: 0;
      }

      .content-img {
        grid-column: 1/2;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }

    .workflow {
      margin-bottom: 4rem;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      h2 {
        grid-column: 1/2;
      }

      .item-wf {
        .header {
          background-color: transparent;
          margin-bottom: 0;
        }
      }
    }

    .contact {
      margin-bottom: 4rem;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }

    .footer {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4rem;

      .col-2 {
        ul {
          flex-flow: row wrap;
        }
      }
    }
  }
}
@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
  body {
    .header {
      .bg-main {
        width: auto;
        height: 100%;
      }
    }
    .introducing {
      p {
        width: 80%;
      }
    }
    .projects {
      grid-template-columns: repeat(2, 1fr);

      .item-project {
        img {
          width: 100%;
          height: auto;
        }
        .content {
          flex-direction: column-reverse;
          gap: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
    .story {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4rem;
      height: fit-content;

      .content {
        grid-column: 1/2;
        padding-right: 0;
      }

      .content-img {
        grid-column: 1/2;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    .workflow {
      grid-template-columns: repeat(2, 1fr);

      h2 {
        grid-column: 1/3;
      }
    }

    .footer {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4rem;

      .col-2 {
        ul {
          flex-flow: row wrap;
        }
      }
    }
  }
}
